.wrapper
  position relative
  margin-bottom 16px
  text-align center

.nut-badge
  position relative

  // about :global :local @see https://github.com/webpack-contrib/css-loader
  // stylelint-disable-next-line selector-class-pattern
  :global(.nut-badge__content.sup)
    font-size 10PX

.numberical-num
  font-weight bold
  font-size 36px
  margin-right 4px

.numberical-unit
  font-size 20px
