@import "~@/styles/theme/vars"

.wrapper
  position relative

.activity
  display flex
  align-items center
  flex-direction column

  &__badage
    margin-bottom 8px

  &__title
    font-size 20px
    color #a5a5a5
