.wrapper
  padding 0
  background-color #f8f8f8

.avatar-wrapper
  display inline-block
  padding 0
  background-color transparent
  border none
  outline none
  line-height 0
  margin 0

  &::after
    border none

  .avatar
    width 100%
    height 100%

.form-item
  display flex
  align-items center

  &__title
    padding-right 12px
    min-height 1.4rem
    display block
    position relative

.button-sp-area
  margin 0 auto
  width 60%

.header
  display block
  padding-top 150px
  padding-bottom 80px
  background-image linear-gradient(45deg,#ffd101, #fed000)

.header-mine
  display flex
  padding 0 8px
  align-items center
  margin-bottom 50px

.header-info
  display flex
  flex-direction column
  margin-left 16px

  &__settings
    width 150px
    color #846924
    background-color #f1c50c
    border none

  &__nickname
    font-weight bold
    margin-bottom 12px
    font-size 32px

.hearder-func-bars
  display flex
  align-items center
  justify-content space-around

  &__item
    display flex
    flex-direction column
    justify-content center
    align-items center

  &__text
    margin-top 20px

.header-shops-list
  position relative
  top -60px
  display block
  background-color #fff
  margin 0 20px
  padding 54px 20px 28px
  border-radius 20px
