.wrapper
  padding 0

.avatar-wrapper
  display inline-block
  padding 0
  background-color transparent
  border none
  outline none
  line-height 0
  margin 0

  &::after
    border none

  .avatar
    width 100%
    height 100%

.form-item
  display flex
  align-items center

  &__title
    padding-right 12px
    min-height 1.4rem
    display block
    position relative

.button-sp-area
  margin 0 auto
  width 60%

.header
  display block
  padding-top 150px
  padding-bottom 60px
  background-image linear-gradient(45deg,#ffd101, #fed000)

.header-mine
  display flex
  padding 0 8px
  align-items center

.header-info
  display flex
  flex-direction column
  margin-left 16px

  &__settings
    width 190px
    color #846924
    background-color #f1c50c
    border none

  &__nickname
    font-weight bold
    margin-bottom 12px

