// stylelint-disable stylus/selector-type-no-unknown
// NOTE：请确保自定义的iconfont 项目只导入使用中的图标，不要全量导入增加wxss样式体积
@import "./assets/font/iconfont/iconfont.css"
@import "./styles"

page
  font-size $xm-font-size-default
  color $xm-font-color-default
