@font-face {
  font-family: "iconfont"; /* Project id 3511345 */
  src: url('iconfont.woff2?t=1657360916510') format('woff2'),
       url('iconfont.woff?t=1657360916510') format('woff'),
       url('iconfont.ttf?t=1657360916510') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daifukuan:before {
  content: "\ee8d";
}

.icon-daishouhuo:before {
  content: "\ee8f";
}

.icon-daipingjia:before {
  content: "\ee90";
}

.icon-dingdan:before {
  content: "\ee91";
}

.icon-shouhou:before {
  content: "\ee97";
}

.icon-a-iconbangongchangsuo:before {
  content: "\e602";
}

.icon-a-iconbieshu:before {
  content: "\e604";
}

.icon-a-iconcanyin:before {
  content: "\e605";
}

.icon-a-iconchengshitizhengchanyeyuanqushubeifen:before {
  content: "\e608";
}

.icon-a-icongongyuan:before {
  content: "\e612";
}

.icon-a-iconguishangqiye:before {
  content: "\e61a";
}

.icon-a-iconliudongrenkou:before {
  content: "\e62e";
}

.icon-a-iconshehuijiuzhu:before {
  content: "\e637";
}

.icon-a-iconshengtaihuanbao:before {
  content: "\e639";
}

.icon-a-iconshengchanshuishou:before {
  content: "\e63d";
}

