@font-face {
  font-family: "iconfont"; /* Project id 3499884 */
  src: url('iconfont.woff2?t=1656948558159') format('woff2'),
       url('iconfont.woff?t=1656948558159') format('woff'),
       url('iconfont.ttf?t=1656948558159') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuyue:before {
  content: "\eec5";
}

.icon-guahao:before {
  content: "\eec6";
}

.icon-fukuan:before {
  content: "\eec7";
}

.icon-yue:before {
  content: "\eec8";
}

.icon-shezhi:before {
  content: "\eec9";
}

.icon-wode:before {
  content: "\eeca";
}

.icon-yujing:before {
  content: "\eecb";
}

.icon-shenhe:before {
  content: "\eecc";
}

.icon-shanchu:before {
  content: "\eecd";
}

.icon-shangbiao:before {
  content: "\eece";
}

.icon-huishuai:before {
  content: "\eecf";
}

.icon-hezuo:before {
  content: "\eed0";
}

.icon-faxian1:before {
  content: "\eed1";
}

.icon-fenxiang:before {
  content: "\eed3";
}

.icon-yuyan:before {
  content: "\eed4";
}

.icon-zhanghu:before {
  content: "\ee8a";
}

.icon-jifen:before {
  content: "\ee8b";
}

.icon-daifukuan:before {
  content: "\ee8d";
}

.icon-daifahuo:before {
  content: "\ee8e";
}

.icon-daishouhuo:before {
  content: "\ee8f";
}

.icon-daipingjia:before {
  content: "\ee90";
}

.icon-dingdan:before {
  content: "\ee91";
}

.icon-huiyuanka:before {
  content: "\ee92";
}

.icon-huiyuanzhongxin:before {
  content: "\ee93";
}

.icon-youhuiquan:before {
  content: "\ee94";
}

.icon-tuandui:before {
  content: "\ee95";
}

.icon-dizhi:before {
  content: "\ee96";
}

.icon-shouhou:before {
  content: "\ee97";
}

.icon-fapiao:before {
  content: "\ee98";
}

.icon-shoucang:before {
  content: "\ee99";
}

.icon-shangpu:before {
  content: "\ee9a";
}

.icon-fankui:before {
  content: "\ee9b";
}

.icon-bangzhu:before {
  content: "\ee9c";
}

.icon-women:before {
  content: "\ee9e";
}

.icon-qiandao:before {
  content: "\ee9f";
}

.icon-yaoqing:before {
  content: "\eea0";
}

.icon-xihuan:before {
  content: "\eea1";
}

.icon-zuji:before {
  content: "\eea2";
}

.icon-dianzan:before {
  content: "\eea3";
}

.icon-gaishuai:before {
  content: "\eea4";
}

.icon-xunzhang:before {
  content: "\eea5";
}

.icon-huodong:before {
  content: "\eea6";
}

.icon-fenlei:before {
  content: "\eea7";
}

.icon-lipin:before {
  content: "\eea8";
}

.icon-kefu:before {
  content: "\eea9";
}

.icon-faxian:before {
  content: "\eeaa";
}

.icon-duihuan:before {
  content: "\eeab";
}

.icon-hongbao:before {
  content: "\eeac";
}

.icon-gouwu:before {
  content: "\eead";
}

.icon-qingdan:before {
  content: "\eeae";
}

.icon-hongbaoB:before {
  content: "\eeaf";
}

.icon-paizhao:before {
  content: "\eeb0";
}

.icon-pifu:before {
  content: "\eeb1";
}

.icon-anquan:before {
  content: "\eeb2";
}

.icon-zhinan:before {
  content: "\eeb3";
}

.icon-kefu1:before {
  content: "\eeb4";
}

.icon-WIFI:before {
  content: "\eeb5";
}

.icon-yingshi:before {
  content: "\eeb6";
}

.icon-youxi:before {
  content: "\eeb7";
}

.icon-huiyuan:before {
  content: "\eeb8";
}

.icon-yinhangka:before {
  content: "\eeb9";
}

.icon-gouwuche:before {
  content: "\eeba";
}

.icon-miaosha:before {
  content: "\eebb";
}

.icon-huore:before {
  content: "\eebc";
}

.icon-shangjia:before {
  content: "\eebd";
}

.icon-xiajia:before {
  content: "\eebe";
}

.icon-zhibo:before {
  content: "\eebf";
}

.icon-tupian:before {
  content: "\eec0";
}

.icon-tongzhi:before {
  content: "\eec1";
}

.icon-paimai:before {
  content: "\eec2";
}

.icon-biaoqian:before {
  content: "\eec3";
}

.icon-pintuan:before {
  content: "\eec4";
}

